/* common shared styles */
body{
  font-family: 'Merriweather', serif;
}
.pry-text{
  color:#FD6E0A;  
}
.pry-btn{
  border-radius: 2px;
  background: #FD6E0A;
}
/* nav related css styles */
nav{
  display: flex;
}
.nav-title{
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
nav > ul{
  display: flex;
}
nav li{
  list-style: none;
  margin-right: 50px;
}
nav a{
  text-decoration: none;
  color: #474747;
}